/* CSS Document */
body {background-color:#FFFFFF;font-family: Arial,Helvetica,sans-serif;color:#000000;}

#mainbg {background-color:#FFFFFF;}
	
h1 {font-size:20px;padding:0px;margin:0px;line-height:20px;color:#001A82;}
h2 {font-size:16px;padding:0px;margin:0px;line-height:16px;color:#001A82;}
h3 {font-size:13px;padding:0px;margin:0px;line-height:13px;}

a {text-decoration: none;}	
a:link {color:#001A82;}
a:visited {color:#000080;}
a:hover {text-decoration: underline;}

.BIGNUMBERS {font-size: 18pt}
.SMALLCAPS {font-size: 16pt}

.nav {background-color:#C6D1FF;font-size:9px;}
.red {color:#800000;}

.rightside {background-color:#C6D1FF;font-size:10px;color: #800000;}
.rightside h2 {color:#000000;} 

#qlinks select {font-size:13px;}

#rcontainer {background-color:#001A82;font-size:10px;color:#F0B850;}

.footer {background-color:#001A82;font-size:10px;color:#FFFFFF;}
.footer a {color:#FFDC78;}
.footer a:visited {color:#FFDC78;}

.content {font-size:12px;}
.content a {font-size:16px;}

.glossary_menu {font-size:12px;}
.glossary_menu a {font-size:12px;}

.glossary {font-size:12px;}
.glossary a {font-size:12px;}
.glossary dt {font-size:14px;font-weight:bold;padding-top:12px;}

.search_results hr { 
    border: none 0; 
    border-top: 1px solid gray; 
    width: 70%; 
    height: 1px; 
}

.search_results a {
    font-size: 12px;
}

.most_popular {
	font-size: 12px;
	color: #800000;
}

.most_popular a {
	font-size: 12px;
	color: navy;
}

.readonly {background-color:#DDDDDD;}
